services:
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    ports:
      - 8080:8080     # qBittorrent
      - 6881:6881
      - 9696:9696     # Prowlarr
    environment:
      - VPN_SERVICE_PROVIDER=private internet access
      - VPN_TYPE=openvpn
      - OPENVPN_USER=${OPENVPN_USER}
      - OPENVPN_PASSWORD=${OPENVPN_PASSWORD}
      - VPN_PORT_FORWARDING=on
      - VPN_INPUT_PORTS=8080,9696
      - FIREWALL_INPUT_SUBNETS=192.168.1.0/24
      - VPN_RECONNECT_INTERVAL=12h
    volumes:
      - ./config/gluetun:/gluetun
    restart: unless-stopped
    networks:
      media-net:
        aliases:
          - qbittorrent
          - prowlarr

  qbittorrent:
    image: linuxserver/qbittorrent
    container_name: qbittorrent
    network_mode: "service:gluetun"
    depends_on:
      - gluetun
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
      - WEBUI_PORT=8080
    volumes:
      - ./config/qbittorrent:/config
      - ./downloads:/downloads
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    network_mode: "service:gluetun"
    depends_on:
      - gluetun
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - ./config/prowlarr:/config
      - ./config/prowlarr/Definitions/Custom:/config/Definitions/Custom:ro
    restart: unless-stopped

  flaresolverr:
    image: 21hsmw/flaresolverr:nodriver
    container_name: flaresolverr
    network_mode: "service:gluetun"
    depends_on:
      - gluetun
    environment:
      - LOG_LEVEL=info
    restart: unless-stopped

  sonarr:
    image: linuxserver/sonarr
    container_name: sonarr
    networks:
      - media-net
    ports:
      - 8989:8989
    depends_on:
      - gluetun
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - ./config/sonarr:/config
      - ./downloads:/downloads
      - ./media/Series:/series
      - "/mnt/medias/Medias/Series:/media/series_f"
    restart: unless-stopped

  radarr:
    image: linuxserver/radarr
    container_name: radarr
    networks:
      - media-net
    ports:
      - 7878:7878
    depends_on:
      - gluetun
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - ./config/radarr:/config
      - ./downloads:/downloads
      - ./media/Movies:/movies
      - "/mnt/medias/Medias/Movies:/media/movies_f"
    restart: unless-stopped

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    networks:
      - media-net
    ports:
      - 6767:6767
    depends_on:
      - sonarr
      - radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - ./config/bazarr:/config
      - ./media/Movies:/movies
      - ./media/Series:/series
      - "/mnt/medias/Medias/Movies:/media/movies_f"
      - "/mnt/medias/Medias/Series:/media/series_f"
    restart: unless-stopped

  huntarr:
    image: huntarr/huntarr:latest
    container_name: huntarr
    depends_on:
      - gluetun
    networks:
      - media-net
    ports:
      - 9705:9705   # Web UI port for Huntarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - ./config/huntarr:/config
    restart: unless-stopped

  jellyseerr:
    image: ghcr.io/fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    networks:
      - media-net
    ports:
      - 5055:5055
    environment:
      - TZ=Europe/Paris
    volumes:
      - ./config/jellyseerr:/app/config
    depends_on:
      - sonarr
      - radarr
    user: "1000:1000"
    restart: unless-stopped

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    networks:
      - media-net
    ports:
      - 8096:8096        # HTTP (http://HOST_IP:8096)
      - 7359:7359/udp    # Local discovery
      - 1900:1900/udp    # DLNA SSDP
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - ./config/jellyfin:/config
      - ./cache/jellyfin:/cache
      - ./media/Movies:/movies
      - ./media/Series:/series
      - "/mnt/medias/Medias/Movies:/media/movies_f"
      - "/mnt/medias/Medias/Series:/media/series_f"
    depends_on:
      - sonarr
      - radarr
    restart: unless-stopped

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./config/portainer:/data
    ports:
      - 9443:9443   # Interface web sécurisée
      - 9000:9000   # interface HTTP non sécurisée
    networks:
      - media-net

  glances:
    image: nicolargo/glances:latest
    container_name: glances
    pid: "host"
    networks:
      - media-net
    ports:
      - 61208:61208  # WebUI (http://IP:61208)
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - TZ=Europe/Paris
      - GLANCES_OPT=-w
    restart: unless-stopped

  dozzle:
    image: amir20/dozzle:latest
    container_name: dozzle
    networks:
      - media-net
    ports:
      - 9999:8080   # http://IP:9999
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    networks:
      - media-net
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=Europe/Paris
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_REMOVE_VOLUMES=false
      - WATCHTOWER_POLL_INTERVAL=86400
    restart: unless-stopped
  
  byparr:
    image: ghcr.io/thephaseless/byparr:latest
    container_name: byparr
    networks:
      - media-net
    ports:
      - 8192:8192
    environment:
      - TZ=Europe/Paris
      - LOG_LEVEL=info
    restart: unless-stopped

networks:
  media-net:
    driver: bridge
